[submodule "docs"]
	path = docs
	url = git@github.com:allissonnunes/ems-algashop-docs.git
	branch = main
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:allissonnunes/ems-algashop-ordering.git
	branch = main
[submodule "microservices/billing"]
	path = microservices/billing
	url = git@github.com:allissonnunes/ems-algashop-billing.git
	branch = main
